* {
  box-sizing: border-box;
}

#wrapper {
  overflow-x: hidden;
}

#list-group {
  width: 25rem;
}

.nav-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.nav-link {
  color: #495057;
}

.list-item {
  border-bottom: 1px solid rgba(0,0,0,.125);
}